#App port
API_PORT=8080
POSTGRES_PORT=5433
REDIS_PORT=9379

# Monitoring Ports
NODE_EXPORTER_PORT=9100
POSTGRES_EXPORTER_PORT=9187
REDIS_EXPORTER_PORT=9121

APP.HOST=":8080"
APP.MODE="dev"

EXTERNAL.FRONTEND_URL="https://yourfrontend.com"
EXTERNAL.RESET_PASSWORD_URL="https://yourfrontend.com/reset-password"
EXTERNAL.VERIFY_EMAIL_URL="https://yourfrontend.com/verify-email"

STORAGE.TYPE = minio
STORAGE.S3.ENDPOINT="host.docker.internal:9000"
STORAGE.S3.PUBLIC_URL="http://localhost:9000"
STORAGE.S3.REGION="ap-southeast-1"
STORAGE.S3.ACCESS_KEY="admin"
STORAGE.S3.SECRET_KEY="password123"
STORAGE.S3.BUCKET= "go-backend-starter"
STORAGE.S3.SSL=false
STORAGE.S3.USE_PATH_STYLE= true

SWAGGER.TITLE="Go Backend starter template"
SWAGGER.DESCRIPTION="Api starter template for lazy people by ofren dialsa"
SWAGGER.VERSION="1.0"
SWAGGER.HOST="localhost:8080"
SWAGGER.BASE_PATH="/"

DATABASE.TIMEOUT=30s
DATABASE.POSTGRES.HOST=postgres
DATABASE.POSTGRES.PORT=5432
DATABASE.POSTGRES.NAME=go-backend-starter
DATABASE.POSTGRES.USERNAME=postgres
DATABASE.POSTGRES.PASSWORD=password
DATABASE.TIMEOUT=30s

DATABASE.REDIS.IS_ENABLED="true"
DATABASE.REDIS.HOST=redis
DATABASE.REDIS.PORT=6379
DATABASE.REDIS.PASSWORD=

JWT.SECRET_KEY.ACCESS="your_access_token_secret_here"
JWT.SECRET_KEY.REFRESH="your_refresh_token_secret_here"
JWT.TOKEN.ACCESS_LIFE_TIME="24h"


MESSAGE_QUEUE.NSQ.HOST="nsq:4150"

MESSAGE_QUEUE.NSQ.PRODUCER.TOPIC.SEND_EMAIL.TOPIC_NAME="send-email"

MESSAGE_QUEUE.NSQ.CONSUMER.EMAIL.TOPIC.SEND_EMAIL.TOPIC_NAME="send-email"
MESSAGE_QUEUE.NSQ.CONSUMER.EMAIL.CHANNEL_NAME="email-worker-channel"

MAIL.FROM="youremail@gmail.com"
MAIL.FROM_NAME="Nerodev"
MAIL.SMTP.HOST="smtp.gmail.com"
MAIL.SMTP.PORT=465
MAIL.SMTP.USER="youremail@gmail.com"
MAIL.SMTP.PASSWORD="yourpassword"